<!DOCTYPE HTML>

<html>
  <head>
    <title>YesOrNo</title>
		<meta charset="utf-8">
    <link rel="stylesheet" href="css/libs/jquery.mobile-1.3.2.min.css">
    <link rel="stylesheet" href="css/yesorno.css">
    <script data-main="scripts/require_init" src="scripts/require.js"></script>

    <script type="text/template" id="template_view">
      <div class="yon_row yon_box yon_big"><%=question%></div>
      <% if (answer==true) { %>
        <div class="yon_row yon_box yon_small"><%=answer_true%></div>
      <% } else { %>
        <div class="yon_row yon_box yon_small"><%=answer_false%></div>
      <% } %>
      <div class="yon_row yon_small yon_lastchange">Last changed: <%=mtime%></div>
    </script>

    <script type="text/template" id="template_text_editable">
      <div class="yon_right">
        <a data-role="button" data-inline="true" data-icon="edit" data-theme="b">Edit</a>
      </div>
      <div id="text" class="yon_box <%=classes%>">
        <%=text%>
      </div>
    </script>

    <script type="text/template" id="template_text_edit">
      <div class="yon_right">
        <a data-role="button" data-inline="true" data-icon="check" data-theme="b">Save</a>
      </div>
      <div class="yon_box yon_small">
        <input class="yon_box" type="text" value="<%=text%>" data-enhance="false">
      </div>
    </script>

    <script type="text/template" id="template_loggedin">
      <div class="yon_loggedin">
        Logged in as <strong><%=name%></strong>. <button id="btn_logout" data-icon="arrow-r" data-theme="b" data-inline="true">Logout</button>
      </div>
    </script>

    <script type="text/template" id="template_loggedout">
      <div class="yon_loggedout">
        <button id="btn_login" data-icon="arrow-r" data-theme="b" data-inline="true">Login</button>
        <button id="btn_register" data-icon="edit" data-theme="e" data-inline="true">Register</button>
      </div>
      <div id="popup_login" data-role="popup" data-overlay-theme="a">
        <form autocomplete="on">
          <div data-role="fieldcontain" class="ui-hide-label">
            <input type="text" name="name" value="" placeholder="Username">
          </div>
          <div data-role="fieldcontain" class="ui-hide-label">
            <input type="password" name="pass" value="" placeholder="Password">
          </div>
          <p>
            <input type="submit" value="Login" data-icon="arrow-r" data-theme="b">
            <!--a href="#">Passwort vergessen?</a-->
          </p>
          <p id="status"></p>
        </form>
      </div>
      <div id="popup_register" data-role="popup" data-overlay-theme="a">
        <form autocomplete="on">
          <div data-role="fieldcontain" class="ui-hide-label">
            <input type="text" name="name" value="" placeholder="Username">
          </div>
          <div data-role="fieldcontain" class="ui-hide-label">
            <input type="text" name="mail" value="" placeholder="e-mail">
          </div>
          <div data-role="fieldcontain" class="ui-hide-label">
            <input type="password" name="pass" id="pass" value="" placeholder="Password">
          </div>
          <p>
            <input type="submit" value="Register" data-icon="edit" data-theme="e">
            <!--a href="#">Passwort vergessen?</a-->
          </p>
          <p id="status"></p>
        </form>
      </div>
    </script>

    <script type="text/template" id="template_redirect_nonexistent">
      <div class="yon_row yon_box yon_big"><%=_id%>?</div>
			<div class="yon_row yon_box yon_small">Yes or No? Maybe you know</div>
			<div class="yon_row yon_box yon_small">Set up a YesOrNo right away</div>
    </script>


  </head>
  <body>
    <div data-role="page"></div>
  </body>
</html>
