@charset "UTF-8";

div[data-role="page"] {
  background-image:url(/yesorno/_design/yesorno-html5/images/defaultbg.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  color:white;
  font-family: Verdana, Geneva, sans-serif;
  margin:0px;
  padding:0px;
}

.yon_loggedin, .yon_loggedout {
  padding-right: 5%;
  padding-left: 5%;
  text-align: right;
}

.yon_question, .yon_answer{
  margin-top: 70px;
  background-color: #000014;
  text-align: right;
  opacity: 0.65; 
  color: white;
  font-size: 50px;
  padding-left:5%;
  padding-right:5%;
  margin-left:40%;
}

.yon_answer{
  margin-left: 70%;
}

.yon_answer .ui-radio {
  width: 100px;
  float: left;
}

#popup_login, #popup_register {
  opacity: 0.93;
  background: #eeeeee;
}

#popup_login form, #popup_register form {
  padding: 20px;
}

.error {
  color: red;
  font-weight: bold;
}

.yon_lastchange {
  text-align: right;
}
