@charset "UTF-8";

div[data-role="page"] {
  background-image:url(/yesorno/_design/yesorno-html5/images/defaultbg.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  color:white;
  font-family: Verdana, Geneva, sans-serif;
  margin:0px;
  padding:0px;
}

.yon_loggedin, .yon_loggedout {
  padding-right: 5%;
  padding-left: 5%;
  text-align: right;
}

.yon_boxcont {
  font-size: 0;
}

.yon_boxcont > * {
  display: inline-block;
}

h1, .yon_boxcont > *, .yon_big, .yon_small, input.yon_box {
  font-size: 50px;
  font-weight: bold;
}

.yon_boxcont, .yon_big, .yon_small {
  margin-top: 70px;
  opacity: 0.65;
}

.yon_box, .yon_big, .yon_small {
  text-align: right;
  background-color: #000014;
  color: white;
}

input.yon_box {
  border: none;
  background-color: white;
  color: #000014;
}

input[type="text"].yon_box {
  width: 100%;
}

.yon_left_big {
  width: 38%;
  padding-right: 2%;
  text-align: right;
  vertical-align: top;
}

.yon_mid_big {
  padding-left: 5%;
  width: 45%;
  padding-right: 10%;
  text-align: right;
}

.yon_big {
  /* from yon_mid_big */
  margin-left: 40%;
  padding-left: 5%;
  padding-right: 10%;
  text-align: right;
}

.yon_left_small {
  width: 56%;
  padding-right: 2%;
  text-align: right;
  vertical-align: top;
}

.yon_mid_small {
  padding-left:2%;
  width: 30%;
  padding-right: 10%;
  text-align: right;
}

.yon_small {
  /* from yon_mid_small */
  margin-left: 58%;
  padding-left:2%;
  padding-right: 10%;
  text-align: right;
}

.yon_right {
  position: absolute;
  margin-left: -10%;
  padding-left: 2%;
  width: 8%;
  float: right;
}


.yon_boxcont .ui-btn {
  margin: 0;
}

#popup_login, #popup_register {
  opacity: 0.93;
  background: #eeeeee;
}

#popup_login form, #popup_register form {
  padding: 20px;
}

.error {
  color: red;
  font-weight: bold;
}

.yon_lastchange {
  text-align: right;
}
