@charset "UTF-8";

div[data-role="page"] {
  background-image:url(/yesorno/_design/yesorno-html5/images/defaultbg.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  color:white;
  font-family: Verdana, Geneva, sans-serif;
  margin:0px;
  padding:0px;
}

.yon_loggedin, .yon_loggedout {
  padding-right: 5%;
  padding-left: 5%;
  text-align: right;
}

.yon_question, .yon_answer{
  margin-top: 70px;
  background-color: #000014;
  text-align: right;
  color: white;
  font-size: 50px;
  padding-left:5%;
  padding-right:5%;
  margin-left:40%;
}

.yon_boxcont {
  margin-top: 70px;
  opacity: 0.65;
  font-size: 0;
}

.yon_boxcont > * {
  display: inline-block;
  font-size: 50px;
  font-weight: bold;
}

.yon_box {
  background-color: #000014;
  text-align: right;
  color: white;
}

.yon_left_big {
  width: 38%;
  padding-right: 2%;
  text-align: right;
}

.yon_mid_big {
  width: 45%;
  text-align: right;
  padding-right: 10%;
  padding-left: 5%;
}

.yon_left_small {
  width: 56%;
  padding-right: 2%;
  text-align: right;
}

.yon_mid_small {
  padding-left:2%;
  width: 30%;
  text-align: right;
  padding-right: 10%;
}

.yon_right {
  position: absolute;
  margin-left: -10%;
  padding-left: 2%;
  width: 8%;
  float: right;
}

input.yon_box {
  font-size: 50px;
  font-weight: bold;
  border: none;
  background-color: white;
  color: #000014;
}

.ui-btn {
  margin: 0;
}

.yon_boxcont_small {
  margin-left: 60%;
}

.yon_left {
  float: left;
}

#popup_login, #popup_register {
  opacity: 0.93;
  background: #eeeeee;
}

#popup_login form, #popup_register form {
  padding: 20px;
}

.error {
  color: red;
  font-weight: bold;
}

.yon_lastchange {
  text-align: right;
}
