<!DOCTYPE HTML>

<html>
  <head>
    <title>YesOrNo</title>
		<meta charset="utf-8">
    <link rel="stylesheet" href="css/libs/jquery.mobile-1.3.2.min.css">
    <link rel="stylesheet" href="css/yesorno.css">
    <script data-main="scripts/require_init" src="scripts/require.js"></script>
    <!-- TODO: move templates into separate file (?) -->
    <script type="text/template" id="template_YesornoPage">
      <div class="yon_container">
        <!--div class="yon_login" id="logindiv">Login</div-->
        <h1 class="yon_question"><%=question%></h1>
        <% if (answer==true) { %>
          <h1 class="yon_answer"><%=answer_true%></h1>
        <% } else { %>
          <h1 class="yon_answer"><%=answer_false%></h1>
        <% } %>
      </div>
    </script>
  </head>
  <body>
    <div data-role="page" id="empty"></div>
  </body>
</html>
